body {
    background-color: #1C2D3C;

    .container-fluid {
        height: 70px;
        background-color: #0D161E;

        .logo {
            height: 50px;
            width: 50px;
        }
    }


    .card {
        box-shadow: 1px 1px 10px grey;
        background-color: #102030;
        color: white;

        .card-img-top {
            width: 100%;

        }
    }
}